body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #1B4965;
    font-size: 20px;
}

.layout-container {
    max-width: 845px;
    text-align: center;
    margin: 0 auto;
}

header {
    display: inline-block;
}

header > h1 {
    font-size: 35px;
    line-height: 1.6;
    font-weight: bold;
    max-width: 672px;
    text-transform: uppercase;
    margin-top: 55px;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-weight: 400;
}

p {
    color: #284B74;
}

ul > li {
    list-style: none;
}

.num {
    background-color: #1B4965;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    border-radius: 31px;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}

#about > p {
    margin-top: -20px;
}

.li-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    height: 240px;
}

.desc {
    max-width: 231px;
    margin-top: 15px;
    line-height: 1.6;
}

ul {
    display: flex;
    gap: 76px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
    margin-top: 45px;
}

#projects {
    margin-top: 30px;
}

#projects > h2 {
    margin-bottom: 10px;
}

#projects > ul  {
    margin-top: -10px;
}

#projects > ul > li > p {
    font-size: 20px;
    font-weight: 400;
}

#projects > ul > li > h3 > a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #1B4965;
    text-transform: uppercase;
}

footer {
    margin-top: 90px;
    padding-bottom: 0;
}


#projects > ul > li > h3 > a:hover {
    text-decoration: underline;
}
