body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #1B4965;
    font-size: 20px;
}

.layout-container {
    max-width: 845px;
    text-align: center;
    margin: 0 auto;
}

header {
    display: inline-block;
}

header > h1 {
    font-size: 35px;
    line-height: 1.6;
    font-weight: bold;
    max-width: 672px;
    text-transform: uppercase;
    margin-top: 55px;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

p {
    color: #284B74;
}

ul > li {
    list-style: none;
}

.num {
    background-color: #1B4965;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    border-radius: 31px;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}

#about > p {
    margin-top: -20px;
}

.li-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    height: 240px;
}

.desc {
    max-width: 231px;
    margin-top: 15px;
    line-height: 1.6;
}

ul {
    display: flex;
    gap: 76px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
    margin-top: 45px;
}

#projects {
    margin-top: 30px;
}

#projects > h2 {
    margin-bottom: 10px;
}

#projects > ul {
    margin-top: -10px;
}

#projects > ul > li > p {
    font-size: 20px;
    font-weight: 400;
}

#projects > ul > li > h3 > a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #1B4965;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#projects > ul > li > h3 > a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    color: #2a6b9b;
}

footer {
    margin-top: 90px;
    padding-bottom: 0;
}

#project-overview > h2 {
    margin-bottom: 10px;
}

#project-overview > h3 {
    margin-top: 72px;
}

#project-overview > p {
    margin: 0;
}

#project-overview > ul {
    margin-top: 22px;
}

.tech-a {
    margin-top: -50px;
}

#technical-details > ul {
    margin-top: 22px;
}

#features {
    margin-top: -50px;
}

#features > ul {
    margin-top: 22px;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    gap: 76px;;
}
#features > ul > li > .li-block{
   width: 231px;
}

#controls > h2 {
    margin-top: 0;
}


#controls > ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 100%;
    margin-top: -6px;
}

#controls > ul > li {
    text-align: left;
    width: 92px;
}

#demo > .demo-link > .demo-button {
    font-size: 35px;
    font-weight: bold;
    color: #1B4965;
    padding: 11px 95px;
    border-radius: 63.5px;
    border: 2px solid #1B4965;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    margin-top: 182px;
}

#demo > .demo-link > .demo-button:hover {
    background-color: #1B4965;
    color: #fff;
}

footer > p > a {
    color: #3E7DC7;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer > p > a:hover {
    color: #1B4965;
    text-decoration: underline;
}